// Styling for the masthead
header.masthead {
  padding-top: 90px;
  padding-bottom: 50px;

  text-align: center;

  color: white;
  background: $theme-success;
  img {
    display: block;

    margin: 0 auto 20px;
  }
  .intro-text {
    .name {
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 1.75em;

      display: block;

    }
    h1 {
      font-size: 1.25em;
      font-weight: 300;
    }
    input[type=text]{
      width:70%;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    padding-top: 180px;
    padding-bottom: 100px;
    .intro-text {
      .name {
        font-size: 3.75em;
      }
      h1 {
        font-size: 1.75em;
      }
      input[type=text]{
        width:45%;
      }
    }
  }
}
