{% extends 'base.html.twig' %}

{% block body %}

    <!-- Navigation -->
    {{ include('parts/navigation.html.twig') }}

    <!-- Header -->
    <header class="masthead" style="background: url('/img/bg.jpeg') center top no-repeat #18bc9c; background-size: 100% 100%;">
        <div class="container">
            <div class="intro-text" style="background-color: green; background: rgb(204, 204, 204); background: rgba(0, 66, 51, 0.5); padding-bottom: 20px;">
                <span class="name">Massage, Anywhere You Want</span>
                <h1>Search & Book for Therapists Near You</h1>
                <p style="margin-top: 30px;">
                    <input type="text" name="location" id="location" placeholder="Enter your location" style="padding:1px 10px;"><input type="submit" value="Search">
                </p>
            </div>
        </div>
    </header>

    <!-- Contact Section -->
    <section id="contact" style="padding-top:10px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h2 class="mt-4">What We Do</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore recusandae animi soluta quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo, maiores!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum.</p>
                    <p>
                        <a class="btn btn-primary btn-lg" href="#">Book Now »</a>
                    </p>
                </div>
                <div class="col-sm-4 text-right">
                    <h2 class="mt-4">Contact Us</h2>
                    <address>
                        <br>BGC
                        <br>Taguig City, PH
                        <br>
                    </address>
                    <address>
                        <abbr title="Phone">P:</abbr>
                        (02) 871-0031
                        <br>
                        <abbr title="Email">E:</abbr>
                        <a href="mailto:MazaheService@gmail.com">MazaheService@gmail.com</a>
                    </address>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    {{ include('parts/footer.html.twig') }}

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top d-lg-none">
        <a class="btn btn-primary js-scroll-trigger" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
