{% extends 'base.html.twig' %}

{% block body %}

    <!-- Navigation -->
    {{ include('parts/navigation.html.twig') }}

    <!-- Header -->
    <header class="masthead" style="background: url('/img/bg.jpeg') center top no-repeat #18bc9c; background-size: 100% 100%;">
        <div class="container">
            <div class="intro-text" style="background-color: green; background: rgb(204, 204, 204); background: rgba(0, 66, 51, 0.5); padding-bottom: 20px;">
                <span class="name">Massage, Anywhere You Want</span>
                <h1>Search & Book for Therapists Near You</h1>
                <p style="margin-top: 30px;">
                    <input type="text" name="location" id="location" placeholder="Enter your location" style="padding:1px 10px;"><input type="submit" value="Search">
                </p>
            </div>
        </div>
    </header>

    <!-- Contact Section -->
    <section id="contact" style="padding-top:10px;">
        <div class="container">
            <div class="row">
                {% for i in 1..10 %}
                <div class="col-lg-8 mx-auto" style="border-bottom: 1px solid #cecece; padding: 20px;">
                    <h3><a href="#">Blog Post Title {{ i }}</a></h3>
                    <p>Short preview of blog post... <a href="#">Read More -></a></p>
                    <div>Blog Post Author</div>
                    <div>Blog Date</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Footer -->
    {{ include('parts/footer.html.twig') }}

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top d-lg-none">
        <a class="btn btn-primary js-scroll-trigger" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
