{% extends 'base.html.twig' %}

{% block body %}

    <!-- Navigation -->
    {{ include('parts/navigation.html.twig') }}

    <!-- Header -->
    <header class="masthead" style="background: url('/img/bg.jpeg') center top no-repeat #18bc9c; background-size: 100% 100%;">
        <div class="container">
            <div class="intro-text" style="background-color: green; background: rgb(204, 204, 204); background: rgba(0, 66, 51, 0.5); padding-bottom: 20px;">
                <span class="name">Massage, Anywhere You Want</span>
                <h1>Search & Book for Therapists Near You</h1>
                <p style="margin-top: 30px;">
                    <input type="text" name="location" id="location" placeholder="Enter your location" style="padding:1px 10px;"><input type="submit" value="Search">
                </p>
            </div>
        </div>
    </header>

    <section id="faq">
        <div class="container">
            <div class="row">
            <div class="col-md-4">
                <ul class="list-group help-group">
                    <div class="faq-list list-group nav nav-tabs">
                        <a href="#tab1" class="list-group-item active" role="tab" data-toggle="tab">Frequently Asked Questions</a>
                        <a href="#tab2" class="list-group-item" role="tab" data-toggle="tab"><i class="mdi mdi-account"></i> Massage</a>
                        <a href="#tab3" class="list-group-item" role="tab" data-toggle="tab"><i class="mdi mdi-account-settings"></i> Booking</a>
                        <a href="#tab4" class="list-group-item" role="tab" data-toggle="tab"><i class="mdi mdi-star"></i> Therapists</a>
                        <a href="#tab5" class="list-group-item" role="tab" data-toggle="tab"><i class="mdi mdi-cart"></i> Payment</a>
                        <a href="#tab6" class="list-group-item" role="tab" data-toggle="tab"><i class="mdi mdi-heart"></i> Accounts</a>
                    </div>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="tab-content panels-faq">
                    <div class="tab-pane active" id="tab1">
                        <div class="panel-group" id="help-accordion-1">
                            <div class="panel panel-default panel-help">
                                <a href="#opret-produkt" data-toggle="collapse" data-parent="#help-accordion-1">
                                    <div class="panel-heading">
                                        <h2>How do I edit my profile?</h2>
                                    </div>
                                </a>
                                <div id="opret-produkt" class="collapse in">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus nesciunt ut officiis accusantium quisquam minima praesentium, beatae fugit illo nobis fugiat adipisci quia distinctio repellat culpa saepe, optio aperiam est!</p>
                                        <p><strong>Example: </strong>Facere, id excepturi iusto aliquid beatae delectus nemo enim, ad saepe nam et.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default panel-help">
                                <a href="#rediger-produkt" data-toggle="collapse" data-parent="#help-accordion-1">
                                    <div class="panel-heading">
                                        <h2>How do I upload a new profile picture?</h2>
                                    </div>
                                </a>
                                <div id="rediger-produkt" class="collapse">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus nesciunt ut officiis accusantium quisquam minima praesentium, beatae fugit illo nobis fugiat adipisci quia distinctio repellat culpa saepe, optio aperiam est!</p>
                                        <p><strong>Example: </strong>Facere, id excepturi iusto aliquid beatae delectus nemo enim, ad saepe nam et.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default panel-help">
                                <a href="#ret-pris" data-toggle="collapse" data-parent="#help-accordion-1">
                                    <div class="panel-heading">
                                        <h2>Can I change my phone number?</h2>
                                    </div>
                                </a>
                                <div id="ret-pris" class="collapse">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus nesciunt ut officiis accusantium quisquam minima praesentium, beatae fugit illo nobis fugiat adipisci quia distinctio repellat culpa saepe, optio aperiam est!</p>
                                        <p><strong>Example: </strong>Facere, id excepturi iusto aliquid beatae delectus nemo enim, ad saepe nam et.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default panel-help">
                                <a href="#slet-produkt" data-toggle="collapse" data-parent="#help-accordion-1">
                                    <div class="panel-heading">
                                        <h2>Where do I change my privacy settings?</h2>
                                    </div>
                                </a>
                                <div id="slet-produkt" class="collapse">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus nesciunt ut officiis accusantium quisquam minima praesentium, beatae fugit illo nobis fugiat adipisci quia distinctio repellat culpa saepe, optio aperiam est!</p>
                                        <p><strong>Example: </strong>Facere, id excepturi iusto aliquid beatae delectus nemo enim, ad saepe nam et.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default panel-help">
                                <a href="#opret-kampagne" data-toggle="collapse" data-parent="#help-accordion-1">
                                    <div class="panel-heading">
                                        <h2>What is this?</h2>
                                    </div>
                                </a>
                                <div id="opret-kampagne" class="collapse">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus nesciunt ut officiis accusantium quisquam minima praesentium, beatae fugit illo nobis fugiat adipisci quia distinctio repellat culpa saepe, optio aperiam est!</p>
                                        <p><strong>Example: </strong>Facere, id excepturi iusto aliquid beatae delectus nemo enim, ad saepe nam et.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <div class="panel-group" id="help-accordion-2">
                            <div class="panel panel-default panel-help">
                                <a href="#help-three" data-toggle="collapse" data-parent="#help-accordion-2">
                                    <div class="panel-heading">
                                        <h2>Lorem ipsum?</h2>
                                    </div>
                                </a>
                                <div id="help-three" class="collapse in">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus nesciunt ut officiis accusantium quisquam minima praesentium, beatae fugit illo nobis fugiat adipisci quia distinctio repellat culpa saepe, optio aperiam est!</p>
                                        <p><strong>Example: </strong>Facere, id excepturi iusto aliquid beatae delectus nemo enim, ad saepe nam et.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    {{ include('parts/footer.html.twig') }}

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top d-lg-none">
        <a class="btn btn-primary js-scroll-trigger" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
