{% extends 'base.html.twig' %}

{% block body %}

    <!-- Navigation -->
    {{ include('parts/navigation.html.twig') }}

    <!-- Header -->
    <header class="masthead" style="background: url('/img/bg.jpeg') center top no-repeat #18bc9c; background-size: 100% 100%;">
        <div class="container">
            <div class="intro-text" style="background-color: green; background: rgb(204, 204, 204); background: rgba(0, 66, 51, 0.5); padding-bottom: 20px;">
                <span class="name">Massage, Anywhere You Want</span>
                <h1>Search & Book for Therapists Near You</h1>
                <p style="margin-top: 30px;">
                    <input type="text" name="location" id="location" placeholder="Enter your location" style="padding:1px 10px;"><input type="submit" value="Search">
                </p>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <h2 class="text-center" style="margin-bottom:15px;">How It Works</h2>
            <div class="row">
                <div class="col-sm-4 portfolio-item" style="text-align: center;">
                    <div class="caption-content">
                        <i class="fa fa-search fa-5x"></i>
                    </div>
                    <p style="font-size: 24pt;">Search</p>
                </div>
                <div class="col-sm-4 portfolio-item" style="text-align: center;">
                    <div class="caption-content">
                        <i class="fa fa-handshake-o fa-5x"></i>
                    </div>
                    <p style="font-size: 24pt;">Book</p>
                </div>
                <div class="col-sm-4 portfolio-item" style="text-align: center;">
                    <div class="caption-content">
                        <i class="fa fa-star-o fa-5x"></i>
                    </div>
                    <p style="font-size: 24pt;">Rate</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" style="background-color:#c1ffc4;">
        <div class="container">
            <h2 class="text-center" style="margin-bottom:30px;">Types of Massage</h2>
            <div class="row">
                <div class="col-sm-4 portfolio-item" style="text-align: center;">
                    <div class="caption-content">
                        <i class="fa fa-plus-square fa-3x"></i>
                    </div>
                    <p style="font-size: 24pt;">Swedish</p>
                </div>
                <div class="col-sm-4 portfolio-item" style="text-align: center;">
                    <div class="caption-content">
                        <i class="fa fa-align-justify fa-3x"></i>
                    </div>
                    <p style="font-size: 24pt;">Thai</p>
                </div>
                <div class="col-sm-4 portfolio-item" style="text-align: center;">
                    <div class="caption-content">
                        <i class="fa fa-blind fa-3x"></i>
                    </div>
                    <p style="font-size: 24pt;">Blind</p>
                </div>
                <div class="col-sm-4 portfolio-item" style="text-align: center;">
                    <div class="caption-content">
                        <i class="fa fa-venus-mars fa-3x"></i>
                    </div>
                    <p style="font-size: 24pt;">Couple</p>
                </div>
                <div class="col-sm-4 portfolio-item" style="text-align: center;">
                    <div class="caption-content">
                        <i class="fa fa-female fa-3x"></i>
                    </div>
                    <p style="font-size: 24pt;">Pre-Natal</p>
                </div>
                <div class="col-sm-4 portfolio-item" style="text-align: center;">
                    <div class="caption-content">
                        <i class="fa fa-black-tie fa-3x"></i>
                    </div>
                    <p style="font-size: 24pt;">Office</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <h2 class="text-center" style="margin-bottom:15px;">Contact Us</h2>
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Name</label>
                                <input class="form-control" id="name" type="text" placeholder="Name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Email Address</label>
                                <input class="form-control" id="email" type="email" placeholder="Email Address" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Phone Number</label>
                                <input class="form-control" id="phone" type="tel" placeholder="Phone Number" required data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Message</label>
                                <textarea class="form-control" id="message" rows="5" placeholder="Message" required data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-lg" id="sendMessageButton">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    {{ include('parts/footer.html.twig') }}

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top d-lg-none">
        <a class="btn btn-primary js-scroll-trigger" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2>Project Title</h2>
                                <hr class="star-primary">
                                <img class="img-fluid img-centered" src="img/portfolio/cabin.png" alt="">
                                <p>Use this area of the page to describe your project. The icon above is part of a free icon set by
                                    <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                                <ul class="list-inline item-details">
                                    <li>Client:
                                        <strong>
                                            <a href="http://startbootstrap.com">Start Bootstrap</a>
                                        </strong>
                                    </li>
                                    <li>Date:
                                        <strong>
                                            <a href="http://startbootstrap.com">April 2014</a>
                                        </strong>
                                    </li>
                                    <li>Service:
                                        <strong>
                                            <a href="http://startbootstrap.com">Web Development</a>
                                        </strong>
                                    </li>
                                </ul>
                                <button class="btn btn-success" type="button" data-dismiss="modal">
                                    <i class="fa fa-times"></i>
                                    Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places&language=en-AU"></script>
<script>
    var autocomplete = new google.maps.places.Autocomplete($("#location")[0], {});
    google.maps.event.addListener(autocomplete, 'place_changed', function() {
        var place = autocomplete.getPlace();
        console.log(place.address_components);
    });

    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        console.log("Geolocation is not supported by this browser.");
    }

    function showPosition(position) {
        console.log("Latitude: " + position.coords.latitude + " Longitude: " + position.coords.longitude);
    }
</script>
{% endblock %}
