{% extends 'base.html.twig' %}

{% block body %}

    <!-- Navigation -->
    {{ include('parts/navigation.html.twig') }}

    <!-- Contact Section -->
    <section id="contact" style="padding-top:60px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h2 class="mt-4">Privacy Policy</h2>
                    <p>
                        This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site.
                    </p>
                    <p>
                        We use your Personal Information only for providing and improving the Site. By using the Site, you agree to the collection and use of information in accordance with this policy.
                    </p>
                    <p>Information Collection And Use</p>
                    <p>
                        While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your name, email and other personal information.
                    </p>
                    <p>Log Data</p>
                    <p>
                        Like many site operators, we collect information that your browser sends whenever you visit our Site.
                    </p>
                    <p>
                        This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages and other statistics.
                    </p>
                    <p>Cookies</p>
                    <p>
                        Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive. Like many sites, we use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Site.
                    </p>
                    <p>Security</p>
                    <p>
                        The security of your Personal Information is important to us, but remember that no method of
                        transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to
                        use commercially acceptable means to protect your Personal Information, we cannot guarantee its
                        absolute security.
                    </p>
                    <p>Changes To This Privacy Policy</p>
                    <p>
                        This Privacy Policy is effective as of September 29, 2017 and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page. We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. Your continued use of the Service after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your  consent to abide and be bound by the modified Privacy Policy. If we make any material changes to this Privacy Policy, we will notify you either through the email address you have provided us, or by placing a prominent notice on our website.
                    </p>
                    <p>Contact Us</p>
                    <p>
                        If you have any questions about this Privacy Policy, please contact us.
                    </p>
                </div>
                <div class="col-sm-4 text-right">
                    <h2 class="mt-4">Contact Us</h2>
                    <address>
                        <br>BGC
                        <br>Taguig City, PH
                        <br>
                    </address>
                    <address>
                        <abbr title="Phone">P:</abbr>
                        (02) 871-0031
                        <br>
                        <abbr title="Email">E:</abbr>
                        <a href="mailto:MazaheService@gmail.com">MazaheService@gmail.com</a>
                    </address>
                </div>
            </div>
        </div>
    </section>

    <!-- Header -->
    <header class="masthead" style="background: url('/img/bg.jpeg') center top no-repeat #18bc9c; background-size: 100% 100%;">
        <div class="container">
            <div class="intro-text" style="background-color: green; background: rgb(204, 204, 204); background: rgba(0, 66, 51, 0.5); padding-bottom: 20px;">
                <span class="name">Massage, Anywhere You Want</span>
                <h1>Search & Book for Therapists Near You</h1>
                <p style="margin-top: 30px;">
                    <input type="text" name="location" id="location" placeholder="Enter your location" style="padding:1px 10px;"><input type="submit" value="Search">
                </p>
            </div>
        </div>
    </header>

    <!-- Footer -->
    {{ include('parts/footer.html.twig') }}

{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
