{% extends 'base.html.twig' %}

{% block body %}
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '536951523312581',
                cookie     : true,
                xfbml      : true,
                version    : 'v2.8'
            });

            FB.AppEvents.logPageView();

            FB.getLoginStatus(function(response) {
                console.log(response);
                if (response.status === 'connected') {
                    console.log(response.authResponse.accessToken);
                    FB.api('/me', function(response) {
                        console.log(JSON.stringify(response));
                    });
                }
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function checkLoginState() {
            FB.getLoginStatus(function(response) {
                console.log(response);
            });
        }
    </script>

    <!-- Navigation -->
    {{ include('parts/navigation.html.twig') }}

    <!-- Header -->
    <header class="masthead" style="padding-top: 0px;">
        <div class="container">

        </div>
    </header>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="fb-login text-center" style="margin-bottom:20px;">
                <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div>

                <div id="status">
                </div>
            </div>
            <h2 class="text-center" style="margin-bottom:15px;">Register</h2>
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="registerForm" id="registerForm" novalidate>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Name</label>
                                <input class="form-control" id="name" name="name" type="text" placeholder="Name" required data-validation-required-message="Please enter your first & last name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Email Address</label>
                                <input class="form-control" id="email" name="email" type="email" placeholder="Email Address" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Phone Number</label>
                                <input class="form-control" id="phone" name="phone" type="tel" placeholder="Phone Number" required data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Password</label>
                                <input class="form-control" id="password" name="password" type="password" placeholder="Password" required data-validation-required-message="Please enter your account password.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-lg" id="sendMessageButton">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    {{ include('parts/footer.html.twig') }}

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top d-lg-none">
        <a class="btn btn-primary js-scroll-trigger" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}

{% block javascripts %}
    <script>
    </script>
{% endblock %}
