{% extends 'base.html.twig' %}

{% block body %}

    <!-- Navigation -->
    {{ include('parts/navigation.html.twig') }}

    <!-- Header -->
    <header class="masthead" style="padding-top: 0px;">
        <div class="container">

        </div>
    </header>

    <!-- Search Bar & Grid of Therapists -->
    <section id="therapists">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h4 class="my-1">Refine Search</h4>
                    <div class="list-group">
                        <a href="#" class="list-group-item">Types</a>
                        <a href="#" class="list-group-item">Location</a>
                        <a href="#" class="list-group-item">Gender</a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row my-0">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
                            <h4 class="my-1">{{ accounts|length }} therapists near location</h4>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-right">
                            <select><option>Sort by distance</option></select>
                        </div>
                    </div>
                    <div class="row">
                        {% for therapist in accounts %}
                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="card h-100">
                                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <a href="#">{{ therapist.name }}</a>
                                        </h4>
                                        <small>{{ therapist.location }}</small>
                                        <h5>P250</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">★ ★ ★ ★ ☆</small>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        {% for i in 1..6 %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="#">Therapist {{ i }}</a>
                                    </h4>
                                    <small>2 km away</small>
                                    <h5>P25{{ i }}</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">★ ★ ★ ★ ☆</small>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Footer -->
    {{ include('parts/footer.html.twig') }}

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top d-lg-none">
        <a class="btn btn-primary js-scroll-trigger" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
